@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home-main {
  margin-top: 3rem;
}

.home-header {
  color: #fff;
  font-size: 25px;
  text-align: center;
}

.home-header h1 {
  font-size: 72px;
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
}

.home-header img {
  opacity: 0.7;
}

.table {
  font-size: 20px;
}

.wtxt {
  color: #fff;
}

.container-fluid {
  padding-right: 10rem;
  padding-left: 10rem;
}

.formulario {
  display: flex;
  align-items: center;
}

.formulario button {
  max-height: 38px;
  margin-left: 1rem;
}

.btn-link {
  text-decoration: none;
}

.no-resizable {
  resize: none;
}

.br {
  border-radius: 25px;
}

.admin-forms {
  max-width: 750px;
}
